.sessionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #413F54;
}

.sessionPage h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
}