.sessionReview {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #413F54;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessionReview h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
    margin-bottom: -10px;
}

.sessionReview table {
    text-align: left;
    padding-top: 30px;
}

.sessionReview th,
.sessionReview td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.sessionReview th {
    background-color: #97CAED;
    color: #fff;
}

.sessionReview tbody tr:hover {
    background-color: #f5f5f5;
}

.sessionReview button {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #fff;

    background: #3498db;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 80px;
    padding: 6px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sessionReview button:hover {
    background: #1C50B0;
    color: #FEFCFB;
    box-shadow: 0 3px 4px #B9CEF3;
}
