.sessionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #413F54;
}

.sessionPage h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
}

.sessionPage h3 {
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 300;
}

.sessionPageButton {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #413F54;

    border: 1px solid #3498db;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    cursor: pointer;

    width: 180px;
    padding: 5px;
    margin-bottom: 20px;
}

.sessionPageButton:hover {
    background: #1C50B0;
    color: #FEFCFB;
    box-shadow: 0 3px 4px #B9CEF3;
}