/****************************** Form container and headings ******************************/
.sessionForm {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #413F54;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
}

.sessionForm form {
    margin-top: -15px;
}

.sessionForm h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: left;
    margin-bottom: -10px;
}

.sessionForm h3 {
    font-weight: 300;
    margin-bottom: 20px;
}

/****************************** Labels and typed input ******************************/
.sessionForm label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sessionForm input {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    width: 250px;
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid #3498db;
    outline: none;
    background: none;
    transition: border-bottom 0.3s ease;
}

.sessionForm input::placeholder {
    color: #666;
    font-size: 12px;
    opacity: 0.6;
}

.sessionForm input:focus {
    border: none;
    border-bottom: 1px solid #2980b9;
}

.sessionForm input[type="number"] {
    width: 40px;
    padding: 8px;
    border: 1px solid #3498db;
    border-radius: 4px;
    margin-right: 5px ;
}

.sessionForm input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #2980b9;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sessionForm input[type="datetime-local"]:focus {
    border: 1px solid #2980b9;
}

/****************************** Dropdown input ******************************/
.sessionForm select {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;

    width: 250px;
    padding-top: 10px;

    border: none;
    border-bottom: 1px solid #3498db;
    outline: none;

    background: none;
    transition: border-bottom 0.3s ease;
}

.sessionForm select:hover {
    cursor: pointer;
}


/****************************** Time input ******************************/
.sessionForm span {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.sessionForm span p {
    margin-right: 5px;
}


/****************************** Range input ******************************/
.sessionForm input[type="range"] {
    width: 100%;
    margin-top: 15px;
    height: 5px;

    appearance: none;
    background: #ddd;

    border: none;
    border-radius: 5px;

    outline: none;
    padding: 0;
}

.sessionForm input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 6px #3498db;
    cursor: pointer;
    margin-top: -2px;
}

/****************************** Next/Completion Button ******************************/
.sessionForm button {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #fff;

    background: #3498db;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 80px;
    padding: 6px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sessionForm button:hover {
    background: #1C50B0;
    color: #FEFCFB;
    box-shadow: 0 3px 4px #B9CEF3;
}
