.sessionForm {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #413F54;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #3498db;
    border-radius: 20px;
    margin: 0 100px;
}

.sessionForm h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: left;
    margin-bottom: -10px;
}

.sessionForm p {
    font-weight: 400;
}

.sessionForm label {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.sessionForm input {
    font-family: 'DM Sans', sans-serif;
    width: 250px;
    border: none;
    border-bottom: 1px solid #413F54 ;
}

.sessionForm button {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #413F54;

    border: 1px solid #3498db;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 180px;

    padding: 5px;
    margin-bottom: 20px;
}